{% extends 'mainpage/base.html' %}

{% block title %}
<title>所有书籍 - KindleLN</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/kindleln.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
{% endblock title %}


{% block content %}
<div class="container">
    {% if msg %}
    <div class="alert alert-warning" role="alert">{{ msg }}</div>
    {% endif %}

    {% for book in books %}
    <a href="{% url 'info:info' id=book.id %}">
        <div class="book-index-view clearfix">
            <div class="book-cover">
                <img src="{% static 'img/cover/75s.jpg' %}" alt="{{ book.name }}">
            </div>
            <div>
                <span class="book-title">
                    {{ book.name }}
                </span>
                <p></p>
                <p class="book-info">作者：{{ book.author }}</p>
                {% if book.source %}
                <p class="book-info">来源：{{ book.source.name }}</p>
                {% else %}
                <p class="book-info">来源：暂无</p>
                {% endif %}
                <p class="book-info">可立即推送：{{ book.has_static_files }}</p>
            </div>
        </div>
    </a>
{% endfor %}
</div>
{% endblock content %}
