{% extends "mainpage/base.html" %}

{% block title %}
<title>[删除确认]{{ file.name }} - KindleLN</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/kindleln.css' %}">
{% endblock title %}

{% block content %}
<div class="container">
    <h2>[删除确认]{{ file.name }}</h2>
    <br>
    <p>请点击以下按钮来删除{{ file.name }}.</p>
    <p>注意: 删除后可能会出现Bug, 请务必谨慎操作</p>

    <a class="btn btn btn-success" href="{% url 'file:index' %}" role="button">返回文件列表</a>
    <a class="btn btn btn-danger" href="{% url 'file:delete' path=file.getUrlPath %}" role="button">确认删除</a>
</div>
{% endblock content %}