<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    {% block title %}
        <title>Base Template</title>
    {% endblock title %}
    {% load static %}
</head>
<body>


<div class="header clearfix">
    <div class="logo">
        <a href="{% url 'mainpage:mainpage' %}">
            <img src="{% static 'img/kindleLN-logo.png' %}" alt="KindleLN">
        </a>
    </div>
    <div class="left-header">
        <a href="{% url 'info:index' %}">所有书籍</a>
        {% if r.user.is_superuser %}
        <a href="{% url 'file:index' %}">文件页面</a>
        {% endif %}
    </div>
    <div class="right-header">
        {% if r.user.is_superuser %}
        <a href="{% url 'error:index' %}">报错页面</a>
        <a href="/admin/">管理页面</a>
        <a href="{% url 'user:logout' %}">退出登录</a>
        {% else %}
        <a href="{% static 'img/donate.jpg' %}">捐赠</a>
        {% endif %}
    </div>
</div>

<div>
    <form class="search form-inline" action="{% url 'info:search' %}" method="get">
        <input style="width: 230px; display: inline;" type="text" class="form-control" name="keyword" placeholder="Search">

        <button type="submit" class="btn btn-default">搜索</button>
    </form>
</div>


{% block content %}
{% endblock content %}


<div class="footer">
    <div>本站内容均来自于网络，如有争议请联系KindleLightNovel@outlook.com</div>
    <div>(c)2023- kindleLN</div>
</div>


</body>
</html>